@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.toolbar-container {
  @apply absolute right-8 bottom-8 z-[101] flex flex-col items-end transition-transform transition-opacity duration-300;
}

.toolbar-container-hidden {
  transform: translateX(400px);
  opacity: 0;
  pointer-events: none;
}

.toolbar-container-visible {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

/* Zoom controls */

.toolbar-zoom-controls {
  @apply transition-transform transition-opacity duration-300 mb-3;
}

.toolbar-zoom-controls-hidden {
  @apply opacity-0 pointer-events-none translate-y-10;
}

.toolbar-zoom-controls-visible {
  @apply opacity-100 pointer-events-auto translate-y-0;
}

/* Toolbar actions row */

.toolbar-actions-row-bg {
  @apply right-14 bg-gray-200 dark:bg-gray-800 rounded-full shadow border border-gray-300 dark:border-gray-700 px-2 transition-all duration-300;
}

.toolbar-actions-row-hidden {
  @apply opacity-0 pointer-events-none translate-x-10;
}

.toolbar-actions-row-visible {
  @apply opacity-100 pointer-events-auto translate-x-0;
}

/* Toolbar buttons */

.toolbar-btn-action {
  @apply hover:bg-gray-300 dark:hover:bg-gray-700 dark:hover:text-white border-none;
}

/* Export button */

.export-btn {
  @apply flex items-center gap-2 w-full justify-start px-3 py-2 whitespace-nowrap text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-800;
}

.section-title {
  @apply text-xs font-semibold mb-1 text-gray-600 dark:text-gray-300;
}

/* Scale button */

.scale-btn {
  @apply px-2 py-1 bg-transparent text-gray-700 dark:text-gray-200;
}
.scale-btn-active {
  @apply bg-gray-200 dark:bg-gray-800;
}
