@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Toolbar actions row */

.toolbar-actions-row {
  @apply absolute flex flex-row items-center;
}

/* Toolbar buttons */

.toolbar-btn {
  @apply w-12 h-12 flex items-center justify-center p-0 bg-gray-200 dark:bg-gray-800 text-blue-800 dark:text-gray-200 hover:text-blue-900 dark:hover:text-white text-lg;
}
