@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.trips-toolbar-container {
  @apply w-full px-3 flex items-center justify-between h-[7vh] bg-white border-b border-gray-300 dark:bg-gray-700 dark:border-gray-600;
}

/* Menu button */

.toolbar-btn-menu {
  @apply w-8 h-8 px-2 flex items-center justify-center p-0 bg-transparent text-blue-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-600 border-none rounded transition-colors duration-200;
}

/* Export button */

.toolbar-btn-export-option {
  @apply flex items-center gap-2 px-4 py-2 w-full text-left hover:bg-gray-100 rounded;
}
