@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Toolbar actions row */

.toolbar-actions-row {
  @apply absolute flex flex-row items-center;
}

/* Toolbar buttons */

.toolbar-btn {
  @apply w-12 h-12 flex items-center justify-center p-0 bg-gray-200 dark:bg-gray-800 text-blue-800 dark:text-gray-200 hover:text-blue-900 dark:hover:text-white text-lg;
}

/* Toggle button */

.toolbar-btn-toggle {
  @apply w-8 h-8 px-2 flex items-center justify-center bg-transparent border-none transition-colors duration-200;
}

.toolbar-btn-toggle-active {
  @apply text-blue-800 dark:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-600;
}

.toolbar-btn-toggle-inactive {
  @apply text-gray-400 bg-transparent;
}
