@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.menu-panel-container {
  @apply fixed top-0 left-0 h-screen z-80 relative;
}

.menu-panel-title {
  @apply flex items-center gap-2;
}

.menu-panel-header-action {
  @apply ml-2 p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-400;
}

.menu-panel-nav {
  @apply flex flex-col gap-2 mt-4;
}

.menu-panel-link {
  @apply flex items-center gap-2 px-4 py-2 rounded text-xl font-semibold transition hover:bg-gray-100 dark:hover:bg-gray-500;
}

.menu-panel-link-active {
  @apply bg-blue-100 dark:bg-gray-600 text-blue-800 dark:text-gray-200;  
}

.dark .menu-panel-link-active {
  @apply bg-gray-600 text-gray-200;
}