@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Form field */

.form-field {
  @apply w-full px-3 py-2 bg-gray-100 rounded border-none text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-600 dark:text-gray-200 dark:focus:ring-blue-400;
}

/* Select input */

.select-input {
  @apply w-full px-3 py-2 rounded border border-none mt-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-600 dark:text-gray-200 dark:focus:ring-blue-400;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.select-input:hover {
  @apply bg-gray-200;
}

.select-input:focus {
  @apply bg-gray-200;
}

.dark .select-input:hover {
  @apply bg-gray-500;
}

.dark .select-input:focus {
  @apply bg-gray-500;
}

/* Dropdown styles */

.chevron-container {
  @apply absolute inset-y-0 right-2 flex items-center pointer-events-none text-gray-400;
}

.selected-option {
  @apply flex items-center bg-blue-100 dark:bg-gray-600 text-blue-800 dark:text-gray-200 px-1 rounded text-xs;
}
