@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
}

.dark body { 
  color: #f7fafc;
  scrollbar-color: #4a5568 #2b3342;
  scrollbar-width: thin;
}

.bg-gray-100, .bg-map {
  background-color: #f7fafc;
}

.bg-gray-100:hover {
  background-color: #e2e8f0;
}

.dark .bg-gray-100, .dark .bg-map {
  background-color: #4a5568;
}

.dark .bg-gray-100:hover {
  background-color: #445164;
}

.dark .bg-white {
  background-color: #2d3748;
}

.dark .text-gray-700 {
  color: #e5e7eb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;  
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;  
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: none !important;  
}

button:focus,
button:focus-visible {
  outline: none !important;
}

/* Custom scrollbar styles */
body::-webkit-scrollbar {
  width: 8px;
  background: #f7fafc;
}
body::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
}
.dark body::-webkit-scrollbar {
  background: #2d3748;
}
.dark body::-webkit-scrollbar-thumb {
  background: #4a5568;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
