@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.panel {
  @apply bg-white shadow-lg flex flex-col transition-all duration-300 ease-in-out focus:outline-none;
}

.dark .panel {
  @apply bg-gray-700;
}

.panel-show {
  @apply translate-x-0 opacity-100 pointer-events-auto;
}

.panel-hide {
  @apply -translate-x-full opacity-0 pointer-events-none;
}

/* PanelHeader styles */

.panel-header {
  @apply px-4 pt-8 pb-0 flex flex-shrink-0 items-center justify-between mb-4;
}

.panel-header-title {
  @apply flex items-center gap-2 h-8 text-lg font-bold;
}

/** PanelListItem styles */
.panel-list-item {
  @apply mb-4 flex items-center gap-2 bg-gray-50 dark:bg-gray-800 rounded-lg px-3 py-2;
}

/* Dashed ring utility for dragged panel items */
.ring-dashed {
  border: 2px dashed !important;
  border-color: theme("colors.gray.500") !important;
  border-radius: 0.5rem;
}
